.TableStudents__wrap{
  width: calc(100vw - 250px);
  padding: 20px;
  color: #fff;
  overflow: scroll;
  & table{
    border-collapse: collapse;
    text-align: center;
    & tr{
      border: 1px solid #fff;
      &:hover{
        background-color: #6b6b6b;
      }
      & td{
        padding: 5px;
        height: 40px;
        border: 1px solid #fff;
        min-width: 95px;
        & select{
          background-color: transparent;
          width: 100%;
          height: 100%;
          color: #fff;
          border: none;
          &[data-homeindex="0"]{
            background-color: red;
          }
          &[data-homeindex="1"]{
            background-color: orange;
          }
          &[data-homeindex="2"]{
            background-color: green;
          }
          & option{
            color: #000;
          }
        }
      }
    }
  }
  &--students p{
    height: 40px;
  }
  & > button{
    margin-left: 0;
  }
}
