/*#0094a7*/
.Menu__wrap{
  background-color: #595959;
  padding: 0 20px;
  color: #fff;
}
.Menu__wrap h2{
  font-size: 36px;
  margin: 4px 0;
}
.Menu__wrap button{
  width: 100%;
  background-color: #0094a7;
  border-right: 4px;
  color: #fff;
  border: none;
  padding: 10px 0;
  font-size: 16px;
  margin: 4px 0;
  cursor: pointer;
}
.Menu__wrap button:hover{
  background-color: #005a66;
}
/*#005a66*/
.Menu__wrap hr{
  margin-top: 15px;
  margin-bottom: 15px;
}